.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue */
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}
table {
    width: 80vw;
    max-width: 1000px;
    border-radius: 10px;
}