.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-application-table {
    width: 100%;
    /* width: 80vw; */
    /* min-width: 1000px; */
}

.section-table-header {
    background: #eeeeee;
}

.Mui-hovered:hover {
    background-color: black;
}

.MuiDataGrid-cell--editable:hover {
    background-color: #ffffdd;
}